---
import Themetoggle from "../ThemeToggle.astro"
import Searchtoggle from "../SearchToggle.astro"
import LangPicker from "../LangPicker.astro";
---

<nav class="flex flex-row justify-between items-center text-text-gray">
  <div class="flex gap-4 items-center">
    <a href="/">
      <img src="/foca-grey.svg" alt="dalion logo" class="sm:h-20 h-16" />
    </a>
    <div class="flex flex-col gap-1">
      <h1
        class="sm:text-3xl text-xl font-[500] text-erie-black dark:text-text-gray"
      >
        Dalion.dev
      </h1>
      <ul
        class="flex
              flex-row
              gap-2
              text-[#d3862e]
              text-sm"
      >
        <a href="/" class="hover:underline">Home</a>
        <p class="text-gray-800 dark:text-text-gray">|</p>
        <a href="/about" class="hover:underline">About</a>
        <p class="text-gray-800 dark:text-text-gray">|</p>

        <a href="/blog" class="hover:underline">Blog</a>
      </ul>
    </div>
  </div>
  <div class="flex flex-row items-center gap-2">
    <Searchtoggle />
    <Themetoggle />
    <LangPicker />
  </div>
</nav>
