<footer class="flex flex-row my-[2rem] items-center justify-between">
  <p class="text-erie-black font-[500] dark:text-flash-white">
    Copyright © 2024 | Dalion.dev
  </p>
  <ul
    class="flex flex-row gap-4 text-erie-black font-[500] dark:text-flash-white"
  >
    <li class="hover:text-[#d3862e]"><a href="/">Home</a></li>
    <li class="hover:text-[#d3862e]"><a href="/about">About</a></li>
    <li class="hover:text-[#d3862e]"><a href="/blog">Blog</a></li>
  </ul>
</footer>
