---
const { name, language, description, technologies, link } = Astro.props
---

<a
  href={link}
  target="_blank"
  class="group dark:border-[#454c53] text-raisin-black flex flex-row justify-between items-center gap-5 border-2 border-neutral-700 p-4 rounded-lg transition-all hover:-translate-y-2 hover:border-neutral-900"
>
  <h1 class="font-[600] dark:text-text-gray dark:font-[700]">{name}</h1>
  <div>
    <div class="flex flex-row gap-3 mb-[.5rem]">
      {
        technologies.map((technologi) => (
          <p class="dark:text-text-gray dark:border-[#72787f] dark:font-[500] border-2 border-erie-black p-1 sm:text-sm text-[10px] rounded-lg font-[600]">
            {technologi}
          </p>
        ))
      }
    </div>
    <article class="dark:text-text-gray text-sm">{description}</article>
  </div>
  <svg
    width="40"
    height="40"
    viewBox="0 0 18 18"
    class="transition-all duration-300 group-hover:translate-x-1 group-hover:-translate-y-2"
    fill="none"
    ><path
      d="M5.25 12.75L12.75 5.25"
      stroke="#999999"
      stroke-linecap="round"
      stroke-linejoin="round"></path><path
      d="M5.25 5.25H12.75V12.75"
      stroke="#999999"
      stroke-linecap="round"
      stroke-linejoin="round"></path></svg
  >
</a>
