---
import "@fontsource-variable/onest"
import Header from "../components/layouts/Header.astro"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/foca-grey.svg" />
    <title>{title}</title>
  </head>
  <body class="bg-flash-white dark:bg-erie-black text-pretty">
    <section class="container">
      <Header />
      <slot />
    </section>
  </body>
</html>

<style>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
  }

  .container {
    max-width: 700px;
    margin: 3rem auto 1rem auto;
    height: 100vh;
  }
</style>

